b {
  color: orange;
}

.esri-attribution {
  display: none;
  /* or */
  /* position: absolute;
  left: -9999px; */
}

.calcitePanelBasemaps {
  display: grid;
  width: 100%;
  height: 100%;
}

/*https://developers.arcgis.com/calcite-design-system/foundations/colors/ */

calcite-label {
  --calcite-color-text-1: #bfbfbf;
  --calcite-font-size--1: 1.3rem;
  /* margin-top: 1vh; */
  margin-left: 15px;
  margin-top: 15px;
}

calcite-tabs {
  --calcite-color-border-3: #555555;
  --calcite-color-border-2: #555555;
  --calcite-color-border-1: #555555;

  border-top: rgb(0, 0, 0, 0);
}

calcite-action-bar {
  --calcite-color-border-3: #555555;
  --calcite-color-text-3: #bfbfbf;
}

calcite-shell {
  --calcite-color-foreground-1: #2b2b2b;
  --calcite-color-text-1: #ffffff;
  --calcite-color-background: #2b2b2b;
  --calcite-color-border-3: #555555;
}

calcite-shell-panel {
  --calcite-color-foreground-1: #2b2b2b;
  --calcite-color-foreground-2: #2b2b2b;
  --calcite-color-border-3: #555555;
}

calcite-panel {
  overflow-y: auto;
  --calcite-color-foreground-1: #2b2b2b;
  --calcite-color-foreground-2: #2b2b2b;
  --calcite-color-text-2: #ffffff;
  background-color: #2b2b2b;
  --calcite-color-border-3: #555555;
}

calcite-list {
  overflow-y: auto;
  --calcite-color-border-3: #555555;
}

calcite-avatar {
  margin-inline-end: 0.3rem;
  margin-top: 0.15rem;
}

.totalProgressDiv {
  display: flex;
  padding-left: 20px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.totalExceedLabel {
  color: white;
  font-size: 1.5vw;
  padding-bottom: 0.3vh;
  padding-top: 0.6vh;
}

.totalExceedNumber {
  color: red;
  font-size: 3.3vw;
  font-weight: bold;
  font-family: "calibri";
  margin-left: 20px;
}

.totalNumber {
  color: white;
  font-size: 1vw;
  font-weight: normal;
  padding-top: 0.5vh;
  margin-left: 20px;
}

/* Clustering */
#toggle-cluster,
#toggle-cluster2,
#toggle-cluster3 {
  width: 70%;
  margin: auto;
  margin-top: 10%;
}

/* Header */
.headerTitle {
  color: white;
  margin-left: 1rem;
  font-size: 2.6vh;
  margin-top: auto;
  margin-bottom: auto;
}

.date {
  color: rgb(220, 220, 220);
  font-size: 0.8rem;
  width: 150px;
  height: 20px;
  margin-top: auto;
  margin-left: 180px;
}

/* Calcite Action panel */
.informationDiv {
  color: #eaeaea;
  font-size: 13px;
  margin-left: -10px;
  padding-right: 5px;
}
